html 
    head 
        title="Banned List"
    style
      include style.css

    body 
        button 
            a(href=`https://id.twitch.tv/oauth2/authorize?client_id=${encodeURIComponent(CLIENT_ID)}&redirect_uri=${encodeURIComponent(REDIRECT_URI)}&response_type=code&scope=moderation%3Aread`) GENERATE LIST

